@using BlazorEasyAuth.Models
@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu/>
	</div>

	<div class="main">
		<div class="top-row px-4">
			<AuthorizeView>
				<Authorized>
					Hello, @context.User.Identity.Name!
					<a href="@Urls.SignOutUrl">Sign out</a>
				</Authorized>
				<NotAuthorized>
					<a href="@Urls.SignInPageUrl">Sign in</a>
				</NotAuthorized>
			</AuthorizeView>
		</div>

		<div class="content px-4">
			@Body
		</div>
	</div>
</div>